<div class="vh-loader" id="vh-loader">
  <p class="vh-loader-year" data-loader-year>1960</p>
  <div class="vh-loader-bar"><span></span></div>
  <p class="vh-loader-text">Het archief wordt geopend</p>
</div>
